@import "../styles/variables.scss";

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 2rem 0 2rem;
}

.table {
  flex: 1;
  max-width: 1024px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr min-content;
  gap: 0.5rem 2rem;
}

.table th {
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 2rem;
  font-family: "Zen Kaku Gothic Antique", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.table tr,
.table thead,
.table tbody {
  display: contents;
  font-family: "Zen Kaku Gothic Antique", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 2rem;
}

.totals,
.table th.totals {
  text-align: right;
}

.summary {
  font-weight: 600;
  font-size: 1.2rem;
}

.grandTotal {
  font-size: 2rem;
  font-weight: 600;
}

.checkoutButton {
  align-items: center;
  background: $violet;
  border-radius: 8px;
  color: $white;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  margin: 3rem auto 0.5rem;
  padding: 0.4rem 1.5rem;
  width: max-content;
  transition: box-shadow 0.125s ease-in;
}

.checkoutButton:hover {
  box-shadow: 0 4px 12px rgba(55, 182, 53, 0.5);
}

/* Apply only to first of class */
.summary td {
  padding-top: 3rem;
}

.summary ~ .summary td {
  padding-top: 0;
}

.summary .labelColumn {
  grid-column-start: 1;
  grid-column-end: 2;
}

.summary .totals {
  grid-column-start: 2;
  grid-column-end: 4;
}

.grandTotal .labelColumn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.collapseColumn {
  display: none;
}

.productHeader {
  grid-column-start: 1;
  grid-column-end: 3;
}

.imageHeader {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
}

.emptyStateContainer {
  text-align: center;
  max-width: 48ch;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.emptyStateHeading {
  color: $gray;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.emptyStateLink {
  display: inline-block;
  color: $violet;
  font-weight: bold;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 640px) {
  .summary .labelColumn,
  .summary .totals,
  .grandTotal .labelColumn {
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .collapseColumn {
    display: block;
  }

  .table {
    grid-template-columns: 80px 1fr repeat(3, min-content);
  }
}

@media (min-width: 1024px) {
  .table {
    grid-template-columns: max-content 1fr repeat(3, max-content);
  }
}
