@import "../styles/variables.scss";

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "search"
    "results"
    "filters";
}

.search,
.results {
  padding: 0 2rem;
}

.filterStyle {
  grid-area: filters;
  /* Visually hidden */
  width: 0;
  height: 0;
  overflow: hidden;
}

.filterStyle.modalOpen {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: $white;
  overscroll-behavior: contain;
}

.filterWrap {
  overflow-y: auto;
  padding: 0 2rem;
}

@media (min-width: 1024px) {
  .filterWrap {
    padding: 0;
    padding-right: 1.5rem;
  }
}

.filterStyle details {
  margin-bottom: 2rem;
}

.filterStyle * + details {
  margin-top: 2rem;
}

.filterStyle hr {
  border-color: $gray;
}

.filterTitle {
  padding: 12px 12px 12px 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto min-content;
  color: $light-gray;
}

.filterTitle button {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  position: relative;
}

.filterTitle h2 {
  font-size: 2rem;
  font-weight: bold;
}

.results {
  grid-area: results;
}

.results ul {
  flex-direction: column;
}

.search input {
  font-size: 1rem;
  font-weight: 500;
  grid-area: input;
  padding-left: 0.5rem;
  height: 3rem;
  background: none;
}

.searchForm {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: "input clear";
  align-items: center;
  background-color: $gray;
  border-radius: 8px;
  height: 3rem;
  padding: 0 0.5rem;
}

.searchIcon {
  display: none;
  grid-area: icon;
  color: $light-gray;
}

.clearSearch {
  grid-area: clear;
  border-radius: 999px;
  color: $light-gray;
  padding: 4px;
  display: grid;
  place-items: center;
}

.clearSearch:hover {
  background-color: $gray;
  color: $black;
}

.filterButton {
  color: $light-gray;
  height: 3rem;
}

.filterButton.activeFilters {
  color: $violet;
}

.filterButton:hover {
  color: $violet;
}

.caca {
  display: flex;
  align-items: center;
}

.sortSelector {
  display: grid;
  place-items: center;
  font-weight: 600;
}

.sortSelector label {
  grid-area: 1/1;
  cursor: pointer;
}

.sortSelector:hover .sortIcon {
  color: $violet;
}

.sortSelector select {
  opacity: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-weight: 600;
  appearance: none;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg' fill='black'%3E%3Cpolyline points='4 6 8 10 12 6'/%3E%3C/svg%3E")
    no-repeat center right;
}

.sortSelector label span {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.sortIcon {
  grid-area: 1/1;
  color: $light-gray;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-right: 2rem;
}

@media (min-width: 1024px) {
  .filterTitle {
    display: none;
  }

  .filterButton {
    display: none;
  }

  .filterStyle.modalOpen {
    position: fixed;
  }

  .filterStyle {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    /* Visually hidden */
    width: auto;
    height: auto;
  }

  .sortIcon {
    display: none;
  }

  .searchIcon {
    display: inline;
  }

  .searchForm {
    grid-template-columns: 30px 1fr max-content;
    grid-template-areas: "icon input clear";
  }

  .search input {
    padding-left: 0;
  }

  .main {
    padding-top: 2rem;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "filters search"
      "filters results";
  }

  .sortSelector {
    justify-content: flex-end;
  }

  .sortSelector select {
    width: auto;
    padding-right: 1.5rem;
    opacity: 1;
  }

  .sortSelector label span {
    position: initial;
    width: auto;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .main {
    grid-template-areas:
      "filters search"
      "filters results";
    padding-top: 2rem;
  }

  .search {
    grid-gap: 2rem;
  }

  .sortSelector {
    padding-left: 0;
  }
}

.productListItem {
  display: flex;
  justify-content: center;
  width: 100%;
}

.priceFilter {
  display: grid;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.paginationButton {
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 8px;
  display: grid;
  place-items: center;
}

.paginationButton:hover {
  background-color: $black;
}

.paginationButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.paginationButton:disabled:hover {
  background-color: inherit;
}

.priceFilterStyle {
  display: flex;
}

.priceFilterStyle label {
  cursor: pointer;
  margin-top: 2px;
}

.priceFilterStyle summary {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.075em;
}

.priceFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.priceFields input {
  max-width: 96px;
}

.progressStyle {
  font-size: 1rem;
  color: $light-gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 1.5rem 0;
}

.resultsStyle {
  font-size: 1rem;
  color: $light-gray;
  padding: 1.5rem 0;
}

.resultsStyle span {
  font-weight: bold;
}

.emptyState {
  width: 100%;
  padding: 1.5rem;
  align-items: center;
  text-align: center;
  color: $light-gray;
  font-weight: bold;
}
