@import "../styles/variables.scss";

.front-cover {
  max-width: 375px;
  border-radius: 5px;
  cursor: zoom-in;
}

.insta-link {
  transition: 0.2s;
  display: inline;
  font-weight: bold;
  width: 100%;
  color: $violet;
  &:hover {
    box-shadow: inset 0 -3px 0 0 $light-violet;
  }
}

.front-cover_container {
  max-width: 375px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.zoom-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.cta-buy {
  color: red;
  display: inline-block;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  text-decoration: underline;
  transition: 0.3s;
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
  &:hover {
    background-color: red;
    color: white;
  }
}

.streaming-links_container {
  text-align: center;
  margin-top: 1.5rem;
}

.streaming-link {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  color: $violet;
  border: 2px solid $violet;
  border-radius: 3px;
  max-width: 375px;
  height: 2.7rem;
  transition: 0.2s;
  margin-bottom: 1.5rem;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &:hover {
    background-color: $violet;
    color: $white;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(85, 26, 139, 0.45);
    box-shadow: 0px 0px 21px -1px rgba(85, 26, 139, 0.45);
  }
}

.streaming-icon {
  margin-right: 0.5rem;
}

.album-credits {
  text-align: center;
  p {
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 1rem;
    margin: 0;
  }
}
