@import "../styles/variables.scss";

.filter {
  display: flex;
}

.filter label {
  cursor: pointer;
  margin-top: 6px;
  color: $light-gray;
  display: flex;
  align-items: baseline;
  line-height: 2;
  font-size: 1.2rem;
}

.filter label:hover {
  color: $black;
}

.filter label.selected-label {
  font-weight: 600;
  color: $black;
}

.filter summary {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.075em;
  padding-bottom: 8px;
  list-style: none;
}

.filter summary::marker {
  display: none;
  color: transparent;
}

.filter summary::-webkit-details-marker {
  display: none; /* hide the summary arrow on safari */
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-options {
  max-height: 200px;
  overflow-y: auto;
}

.clear-button {
  color: $light-gray;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: bold;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: 1px $light-gray solid;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  margin-right: 0.5rem;
}

@media (min-width: 640px) {
  .filter label {
    line-height: 1.25;
    max-width: 240px;
  }

  .checkbox {
    width: 1rem;
    height: 1rem;
  }
}

@media (min-width: 1024px) {
  .filter label {
    font-size: 1rem;
  }
}

.checkbox:checked {
  border-color: $violet;
  background-color: $violet;
}

.checkbox::before {
  line-height: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: $white;
  content: "\2713";
}
