@import "../styles/variables.scss";

.input {
  display: block;
  grid-area: 1/1;
  background: none;
  text-align: right;
  padding: 0.7rem;
}

.symbolAfter .input {
  text-align: left;
}

.symbolAfter .currencySymbol {
  text-align: right;
}

.currencySymbol {
  grid-area: 1/1;
  color: $light-gray;
  padding: 0.7rem;
}

.wrap {
  display: grid;
  background-color: $gray;
  border-radius: 0.7rem;
}
