@import "../styles/variables.scss";

.priceFilter {
  display: grid;
}

.priceFilterStyle {
  display: flex;
}

.priceFilterStyle label {
  cursor: pointer;
  margin-top: 2px;
}

.priceFilterStyle .summary {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.7rem;
  font-size: 0.8rem;
  letter-spacing: 0.075em;
}

.priceFilterStyle summary::marker {
  color: transparent;
  display: none;
}

.priceFilterStyle summary::-webkit-details-marker {
  display: none; /* hide the summary arrow on safari */
}

.priceFilterStyle summary {
  list-style: none;
}

/* "Price" reset button */
.clearButton {
  color: $light-gray;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: bold;
}

.priceFields {
  display: grid;
  align-items: center;
  justify-content: stretch;
  gap: 4px;
}
