@import "../styles/variables.scss";

.footerStyle {
  padding: 2rem 1.5rem;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  color: $light-gray;
  margin-top: 3rem;
}

.copyright {
  color: $light-gray;
  font-size: 0.8rem;
}

.footerNavList {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.footerNavListItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  white-space: nowrap;
}

.links ul {
  flex-direction: column;
  font-size: 1rem;
}

.links li {
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.links a {
  padding: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $violet;
  }
}
