@import "../styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
}

.header {
  display: grid;
  width: 100%;
  padding: 1rem 2rem;
  grid-template-columns: 3rem 1fr min-content min-content;
  grid-template-areas: "logo nada searchButton cartButton" "navHeader navHeader navHeader navHeader";
  align-items: center;
  background-color: $white;
}

.header::after {
  grid-area: navHeader;
  content: "";
  display: block;
  width: 2rem;
  z-index: 1;
  align-self: stretch;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  justify-self: flex-end;
}

@media (min-width: 640px) {
  .header {
    grid-template-areas: "logo navHeader searchButton cartButton";
  }
}

.logo {
  display: flex;
  grid-area: logo;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: $pink;
}

.logo:hover {
  color: $violet;
  text-decoration: none;
}

.logo[aria-current="page"] {
  color: $violet;
}

.nav {
  grid-area: navHeader;
  align-self: stretch;
}

.searchButton {
  color: $light-gray;
  grid-area: searchButton;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
}

.searchButton:hover {
  color: $violet;
}

.searchButton[aria-current="page"] {
  color: $violet;
}
