@import "../styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
}

.header {
  display: flex;
  width: 100%;
  padding: 16px 36px 16px 48px;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
}

.nav {
  grid-area: navHeader;
  align-self: stretch;
}

.searchButton {
  color: $light-gray;
  grid-area: searchButton;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
}

.searchButton:hover {
  color: $violet;
}

.searchButton[aria-current="page"] {
  color: $violet;
}
