@import "../styles/variables.scss";

.logoContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  font-weight: 500;
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  height: 3rem;
  display: flex;
  color: $light-gray;
  align-items: center;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-transform: uppercase;
}

.navLink:hover {
  color: $violet;
}

.activeLink,
.navLink[aria-active="page"] {
  color: $violet;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.activeLink:hover,
.navLink[aria-active="page"]:hover {
  color: $violet;
}
