@import "../styles/variables.scss";

.wrap {
  display: inline-grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "input increment" "input decrement";
  background-color: $gray;
  border-radius: 8px;
  height: 3rem;
  overflow: hidden;
}

.wrap button span {
  display: none;
}

.input {
  grid-area: input;
  background: none;
  border: none;
  padding: 4px 1rem;
  align-self: stretch;
  width: 6ch;
  border-style: solid;
  border-color: $gray;
  border-width: 0 1px 0 0;
  font-weight: 500;
  color: $black;
}

.input:disabled {
  color: $light-gray;
}

.wrap button {
  background: none;
  border: none;
  padding: 0 4px;
  display: grid;
  place-items: center;
  color: $light-gray;
}

.wrap button:hover {
  background-color: $light-gray2;
  color: $light-gray;
}

.wrap button:disabled:hover,
.wrap button:disabled {
  background: none;
  color: $light-gray;
}

.wrap button.increment {
  grid-area: increment;
  border-bottom: 1px $gray solid;
}

.decrement {
  grid-area: decrement;
}

/* On mobile, make the buttons easier to press */
@media (pointer: coarse) {
  .wrap {
    grid-template-columns: 3rem 1fr 3rem;
    grid-template-areas: "decrement input increment";
    color: $light-gray;
  }

  .input {
    text-align: center;
    border-width: 0 1px;
  }

  .wrap button {
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .wrap button span {
    display: inline;
  }

  .wrap button svg {
    display: none;
  }

  .wrap button.increment {
    border: none;
  }

  .wrap button:active {
    background-color: $light-gray2;
    color: $light-gray;
  }

  .wrap button:hover {
    background-color: inherit;
    color: inherit;
  }
}
