@import "../styles/variables.scss";

.productCardStyle {
  max-width: 400px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 0.5rem;
}

.productImageStyle {
  margin-bottom: 0.5rem;
}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.productVendorStyle {
  font-size: 1rem;
  color: $light-gray;
  display: none;
}

.productHeadingStyle {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.125;
}

.productPrice {
  color: $light-gray;
}
