@import "../styles/variables.scss";

.navLink {
  background-color: $violet;
  border-bottom-right-radius: 4px;
  clip: rect(1px, 1px, 1px, 1px);
  color: $white;
  font-size: 1rem;
  font-weight: 500;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
}

.navLink:focus {
  clip: auto;
  height: auto;
  width: auto;
  z-index: 20;
}
